body {
  background: #FFFFFF;
  color: #46485c;
  font-family: sans-serif;
}
hr{
  color: #16aa56;
  height: 1px;}

h2 {
  color: #46485c;
  font-size: 17px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
}

a {
  color: #46485c;
  text-decoration: none;
}

.centro{
	margin:auto;
	text-align: center;
}
.login{
  width: 250px;
  margin: auto;
  padding: 20px 30px;
  border-radius: 5px;
  text-align:center;
}
.img_session{
  margin:auto;
  
} 

input[type="text"], input[type="password"] {
  width: 250px;
  padding: 10px 0px;
  background: transparent;
  border: 0;
  border-top: 1px solid #9FD9AC;
  border-bottom: 1px solid #9FD9AC;
  outline: none;
  color: #46485c;
  font-size: 14px;
}
input[type=checkbox] {
  display: none;
}

label {
  font-size:13px;
  text-align:center;
  color:#16aa56;
  display: block;
  position: absolute;
  margin-right: 10px;
  width: 250px;
  height: 8px;
  border-radius: 50%;
  background: transparent;
  content: "";
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border: 3px solid #46485c;
}

#remember:checked ~ label[for=remember] {
  background: #16aa56;
}

input[type="button"] {
  font-size:14px;
  font-weight:bold;
  background: #16aa56;
  border: 0;
  width: 250px;
  height: 45px;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}
input[type="button"]:hover {
  background: #16aa56;
}

.forgot {
  margin-top: 30px;
  display: block;
  font-size: 11px;
  text-align: center;
  font-weight: bold;
}
.forgot:hover {
  margin-top: 30px;
  display: block;
  font-size: 11px;
  text-align: center;
  font-weight: bold;
  color: #6d7781;
}

.remember {
  padding: 30px 0px;
  font-size: 12px;
  text-indent: 25px;
  line-height: 15px;
}

::-webkit-input-placeholder {
  color: #46485c;
}

[placeholder]:focus::-webkit-input-placeholder {
  transition: all 0.2s linear;
  transform: translate(10px, 0);
  opacity: 0;
}


